@import url('https://fonts.googleapis.com/css?family=Zilla Slab');
@import url('https://fonts.googleapis.com/css?family=Open Sans');

h1, h2, h3, h4, h5, h6 {font-family: "Zilla Slab"; font-weight: bold}
* {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------
============================================================================================================
--------COLORES---------------------------------------------------------------------------------------------
============================================================================================================
----------------------------------------------------------------------------------------------------------*/

.azul {
    background-color: #22B3B2;
}

.verde {
    border-color: #5DB130;
}

.negro {
    background-color: #0A2827;
}

.negroNav{
    background-color: rgb(35, 61, 60);
}

.gris {
    background-color: #909494;
}

.blancoFondo {
    background-color: #E4F2F2;
}
.blancoBorde {
    border-right: #E4F2F2 solid 0.5rem;
}

.blancoTexto {
    color: #E4F2F2;
}

/*----------------------------------------------------------------------------------------------------------
--------ICONOS----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.logoGrande {
    margin: auto;
}

/*----------------------------------------------------------------------------------------------------------
============================================================================================================
--------PÁGINA DE LOGIN-------------------------------------------------------------------------------------
============================================================================================================
----------------------------------------------------------------------------------------------------------*/
.login {
    display: grid;
    grid-template-columns: 66.6666% 33.3333%;
    text-align: center;
    height: 100vh;
    justify-content: center;
}

.imagenLogoW {
    background-image: url("/public/VolareLogoWhite.svg");
    background-size: cover;
    margin: auto;
    height: 154px;
    width: 150px;
}

.logoInicioSesion{
    display: grid;
    color: white;
    height: 100vh;

}

.inicioSesion {
    color: white;
    margin: auto 0;
}

.formInicioSesion {
    color: white;
    margin: 2rem;
    display: grid;
    justify-content: center;
    justify-items: end;
}

.formInicioSesion input, button {
    border-radius: 4px;
    border: none;
    margin: 0.5rem;
    padding-block: 1rem;
    padding-inline: 1vw;
    width: 20vw;
}
.formInicioSesion button {
    width: 22vw;
    cursor: pointer;
}

.ojo {
    background-image: url("/public/iconos/Ojo.svg");
    background-size: cover;
    background-color: transparent;
    width: 15px;
    height: 10px;
    border: none;
    position: absolute;
    top: 50vh;
    right: 7vw;
    cursor: pointer;
    opacity: 0.5;
}

/*----------------------------------------------------------------------------------------------------------
============================================================================================================
--------CONTENIDO COMÚN-------------------------------------------------------------------------------------
============================================================================================================
----------------------------------------------------------------------------------------------------------*/

.pagina {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 100vw;
}

.iconTabla div {
    text-decoration: none;
    height: 1rem;
    width: 1rem;
}
/*Tabla con columna de "Acciones"*/
.tablaAcciones td:last-child {
    display: flex;
    justify-content: space-evenly;
}
/*----------------------------------------------------------------------------------------------------------
--------NAV LATERAL-----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.navLateral {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 100%;
}
.navLateral a {
    margin-block: 0.5rem;
    cursor: pointer;
}
.navLateral a div{
    margin: 1rem 1rem 1rem 1.5rem;
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
}

.navLateral a:hover {
    background-color: rgba(100%, 100%, 100%, 0.2);
}

.elemento {
    border-right: transparent solid 0.5rem;
}

#iconBrgr {
    background-image: url("/public/iconos/Hamburguesa.svg");
    background-size: cover;
}

#iconDB {
    background-image: url("/public/iconos/Tabla.svg");
    background-size: cover;
}

#iconVuelos {
    background-image: url("/public/iconos/Avion.svg");
    background-size: cover;
}

#iconVentas{
    background-image: url("/public/iconos/Tiquet.svg");
    background-size: cover;
}

#iconUsers {
    background-image: url("/public/iconos/Usuario.svg");
    background-size: cover;
}

/*----------------------------------------------------------------------------------------------------------
--------NAV SUPERIOR----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.navSuperior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}

#iconLupa {
    background-image: url("/public/iconos/Lupa.svg");
    background-size: cover;
    padding: 1rem;
}

.navSuperior div:nth-child(2) {
    padding: 0.3rem;
    border-radius: 6px;
}

.imagenLogoNavbar {
    background-image: url("/public/VolareLogo.svg");
    background-size: cover;
    margin-left: 7rem;
    height: 57px;
    width: 56px;
}

.linkLogoNav {

}

/*----------------------------------------------------------------------------------------------------------
--------FIELDSET--------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.content {
    margin: 1.5rem 1.5rem 1.5rem 7.5rem;
    padding: 2rem;
    border-radius: 6px;
    border: none;
    background-color: white;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------------------
============================================================================================================
--------DASHBOARD-------------------------------------------------------------------------------------------
============================================================================================================
----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------
--------ÚLTIMAS COMPRAS-------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.dashgrid {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.dashgrid fieldset {
    padding: 2rem;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    margin: 1rem;
}

.dashCompras {
    border: none;
    border-collapse: collapse;
    margin-block: 1.5rem;
}

.dashComprasTabla th {
    padding: 1rem;
    font-size: 1rem;
}

.dashComprasTabla td {
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.dashComprasTabla th:first-child {
    border-top-left-radius: 6px;
}
.dashComprasTabla th:last-child {
    border-top-right-radius: 6px;
}
.dashCompras tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.dashCompras tr:last-child{
    border-bottom-right-radius: 6px;
}

#iconLapiz {
    background-image: url("/public/iconos/Lapiz.svg");
    background-size: cover;
    margin-block: 0.5rem;
}
#iconPapelera {
    background-image: url("/public/iconos/Papelera.svg");
    background-size: cover;
    margin-block: 0.5rem;
}

/*----------------------------------------------------------------------------------------------------------
--------PLAZAS VACANTES-------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.vuelosVacantes {
    list-style-type: none;
    margin-block: 1.5rem;
}

.vuelosVacantes fieldset {
    padding: 1rem;
    margin-inline: 0;
}

.vuelosVacantes div:first-child {
    font-weight: bold;
    font-size: 1.2rem;
}
.vuelosVacantes div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vuelosVacantes div:nth-child(2) div:first-child {
    font-size: 0.8rem;
    font-weight: normal;
}
.vuelosVacantes div:nth-child(2) div:nth-child(2) {
    color: #22B3B2;
    font-weight: bold;
}
.vuelosVacantes progress {
    width: 100%;
    height: 1rem;
    -webkit-appearance: none;
}
.vuelosVacantes progress::-webkit-progress-bar {
    background-color: #E4F2F2;
    border-radius: 6px;
}
.vuelosVacantes progress::-webkit-progress-value {
    background-color: #22B3B2;
    border-radius: 6px;
}

/*----------------------------------------------------------------------------------------------------------
============================================================================================================
--------BUSQUEDA Y FILTROS----------------------------------------------------------------------------------
============================================================================================================
----------------------------------------------------------------------------------------------------------*/

.barraDeBusqueda {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraDeBusqueda button {
    padding: 0.5rem;
    width: 10rem;
    cursor: pointer;
}
#iconFiltro {
    background-image: url("/public/iconos/Filtro.svg");
    background-size: cover;
    padding: 0.8rem;
}
.flexBuscarTablas {
    display: flex;
    align-items: center;
}

.buscarTablas {
    padding: 0.7rem 1rem 0.7rem 2.5rem;
    border: none;
    border-bottom: 2px solid lightgray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-inline: 1rem;
}

#iconLupaOscura {
    background-image: url("/public/iconos/LupaOscura.svg");
    background-size: cover;
    padding: 0.7rem;
    position: absolute;
    margin-left: 1.5rem;
}
